$font: 'Roboto', sans-serif;
$fontSize: 16px;
$fontWeight: 700;
$fontColor: #fff;
$borderRadius: 15px;
$backgroundColor: rgba(100, 100, 100, 0.4);
$containerBorder: none;

@mixin tasksContainer {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    border-radius: 15px;
    padding: 2em;
    margin: 1em 0;
}