@import '../../variables';

.task {
    position: relative;
    border: 1px solid black;
    border-radius: 15px;
    padding: 0.15em;
    margin-bottom: 1em;
    // Give each task a random background-color
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.4);
}

.complete {
    position: absolute;
    top: -1em;
    right: -1em;
    padding: 0;
    margin: 0;
    width: 4em;
    height: 2em;
    border-radius: 15px;
    background-color: var(--color-primary);
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.4);
}