@import '../../variables';

.homepage-container {
    display: flex;
    flex-direction: column;
}

.top-section {
    flex: 1 0 auto;
}

.middle-section {
    flex: 1 0 auto;
}

.bottom-section {
    flex: 1 0 auto;
}