@import '../../variables';

.nextArrow {
    color: $fontColor;
    font-size: 3em;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.25);
        cursor: pointer;
    }
}